body
{
  background-color: #aaaaaa;
}

.thumbnail img
{
    margin: 10px 15px 5px 10px;
}

.prize
{
    background: #ff0000;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.prize:before
{
    border: 4px solid transparent;
    border-bottom: 4px solid #ff0000;
    border-left: 4px solid #ff0000;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}
.caption > h4
{
    color: #1b5bc4;
    font-size: 18px;
}

.btn-order
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1b5bc4;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}
.btn-order:hover, .btn-order:focus
{
    color: #fff;
    background-color: #1b5bc4;
}